# Objective

#### Construct and export a MySQL database using your data

In [1]:
# Imports
import numpy as np
import pandas as pd

In [6]:
# The the data
basics = pd.read_csv('Data/title_basics_cleaned.csv.gz')
ratings = pd.read_csv('Data/title_ratings_cleaned.csv.gz')
results = pd.read_csv('Data/tmdb_results_combined.csv.gz')

In [3]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86909 entries, 0 to 86908
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86909 non-null  object
 1   titleType       86909 non-null  object
 2   primaryTitle    86909 non-null  object
 3   originalTitle   86909 non-null  object
 4   isAdult         86909 non-null  int64
 5   startYear       86909 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86909 non-null  int64
 8   genres          86909 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.0+ MB

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503742 entries, 0 to 503741
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         503742 non-null  object
 1   averageRating  503742 non-null  float64
 2   numVotes       503742 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.5+ MB

In [8]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                356 non-null    object
 1   adult                  356 non-null    float64
 2   backdrop_path          349 non-null    object
 3   belongs_to_collection  89 non-null     object
 4   budget                 356 non-null    float64
 5   genres                 356 non-null    object
 6   homepage               51 non-null     object
 7   id                     356 non-null    float64
 8   original_language      356 non-null    object
 9   original_title         356 non-null    object
 10  overview               356 non-null    object
 11  popularity             356 non-null    float64
 12  poster_path            356 non-null    object
 13  production_companies   356 non-null    object
 14  production_countries   356 non-null    object
 15  release_date           356 non-null    object
 16  revenue                356 non-null    float64
 17  runtime                356 non-null    float64
 18  spoken_languages       356 non-null    object
 19  status                 356 non-null    object
 20  tagline                328 non-null    object
 21  title                  356 non-null    object
 22  video                  356 non-null    float64
 23  vote_average           356 non-null    float64
 24  vote_count             356 non-null    float64
 25  certification          311 non-null    object
dtypes: float64(9), object(17)
memory usage: 72.4+ KB